<!-- widget grid -->
<section id="widget-grid" widget-grid>

<!-- START ROW -->
<div class="row">

<!-- NEW COL START -->
<article class="col-sm-12 col-md-12 col-lg-12">

<!-- Widget ID (each widget will need unique ID)-->
<div jarvis-widget id="form-grid-widget" data-widget-colorbutton="false" data-widget-editbutton="false"
     data-widget-custombutton="false">

     <!--<header>
         <span class="widget-icon"> <i class="fa fa-edit"></i> </span>

         <h2>Listado de Mercancias </h2>

     </header>-->

<!-- widget div-->
<div>

   <!-- widget content -->
    <div class="widget-body no-padding">

        <form class="smart-form">
            <header>
                Renombre de Mercancia
            </header>

            <fieldset>
                <div class="row">
                    <section class="col col-6">
                        <label class="input">
                            <input type="text" placeholder="NOMBRE MINTRA">
                        </label>
                    </section>
                    <section class="col col-6">
                        <label class="input">
                            <input type="text" placeholder="CÓDIGO MINTRA">
                        </label>
                    </section>
                </div>

                <section>
                    <label class="input">
                        <input type="text" placeholder="NOMBRE PAD">
                    </label>
                </section>
            </fieldset>
            <footer>
                <button type="submit" class="btn btn-primary">
                    GUARDAR
                </button>
                <button type="button" class="btn btn-default" onclick="window.history.back();">
                    CANCELAR
                </button>
            </footer>
        </form>

    </div>
    <!-- end widget content -->

</div>
<!-- end widget div -->

</div>
<!-- end widget -->

</article>
<!-- END COL -->

</div>

<!-- END ROW -->
